<h2>New book</h2>

<%= form_for(book) do |bok| %>

	<label for="inputTitle"> Title</label><br>
	<%= bok.text_field :title, autofocus: true, id:"inputTitle", class: "form-control"%><br>

	<label for="inputOpinion"> Opinion</label><br>
	<%= bok.text_area :body, autofocus: true, id:"inputOpinion", class: "form-control" %><br>

	<%= bok.submit "create book", class: "btn btn-primary btn-block" %>
<% end %>